* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://www.xtrafondos.com/descargar.php?id=88&resolucion=1920x1200');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    overflow: hidden;
    background-color: #093A84;
    margin: 0;
    padding: 0;
    border: 0;
    height: 80px;
}

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        line-height: 50px;
    }

        .navbar a:hover {
            background-color: white;
            color: #093A84;
        }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #093A84;
    color: #fff;
    padding: 20px 0;
    height: 80px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.footer-item {
    flex: 1; 
    text-align: center; 
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px; 
    margin: 0;
    line-height: 1.5; 
}