.content {
    position: absolute;
    display: inline;
    align-items: center;
    justify-content: left;
    height: calc(100vh - 160px);
}

.card {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 74%;
    width: 15%;
    font-family: 'Roboto', sans-serif;
    justify-content: left;
    margin-left: 20px;
    top: 120px;
    color: #093A84;
}


.card-header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #093A84;
}

.card-body {
    padding: 20px;
    color: #093A84;
    text-align: center;
}

    .card-body > * {
        margin-top: 13px;
    }

.centrocontent {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px);
    display: flex;
}

.cardcentro {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 90%;
    width: 80%;
    margin-left: 250px;
    font-family: 'Roboto', sans-serif;
    color: #093A84;
}

.cardcentro-header {
    height: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    line-height: 80px;
    color: #093A84;
}

.cardcentro-body {
    padding: 20px;
    color: #093A84;
}


.cardadentro {
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    width: 300px;
    height: 90%;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 30px;
    color: #093A84;
}

    .cardadentro > * {
        margin-top: 20px;
    }

.carderecha {
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    width: 57%;
    height: 43%;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 30px;
    color: #093A84;
    margin-left: 30px;
    margin-bottom: 150px;
    position: absolute;
    margin-top: 99px;
}

    .carderecha > * {
        margin-top: 23px;
    }

.botones {
    display: inline-block;
    vertical-align: top;
}

    .botones > * {
        margin-top: 5px;
    }

.botonautorizar {
    color: white;
    background-color: limegreen;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    margin-left:25px;
}

.botondenegar {
    color: white;
    background-color: red;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
}

.textos {
    display: block;
    margin-bottom: 10px;
}

.botonvalidar {
    background-color: #093A84;
    color: white;
    width: 100%;
    border-radius: 10px;
    height: 30px;
}
